<!DOCTYPE html>
<html >

<head>
    <meta charset="UFT=8">
    <title> ML Recommendation API</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="login">
        	<h1>Recommender</h1>
        	<form action="/recommend" method="post" >
            	<input type="text" name="file_name" placeholder="filename" required="required />"
            	<button type="submit" class="btn btn-primary btn-block btn-large">Recommend</button>
            </form>
            
            <br>
            <br>
      {% for each in predictions_text %}
          <p>{{ each }} </p>
      {% endfor %}      
    </div>
<body>
</html>  