"""
Created on Thu Dec 24 13:21:01 2020

@author: Admin
"""


<!DOCTYPE html>
<html >

<head>
    <meta charset="UFT=8">
    <title> ML Recommendation API</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="login">
        	<h1>Recommender</h1>
        	<form action="{{ url_for('recommend')}}"method="post">
            	<button type="submit" class="btn btn-primary btn-block btn-large">Recommend</button>
            </form>
            
            <br>
            <br>
      {% for each in predictions_text %}
          <p>{{ each }} </p>
      {% endfor %}      
    </div>
<body>
</html>       